*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, Sans-serif;
  margin: 0;
  padding: 0;
}

img, embed,
object, video {
  height: auto;
  max-width: 100%;
}

.logo{
  display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50px;
      height: 50px;
}

.heading-text, .text-content{
  text-align: center;
}

.heading-text{
  font-size: 6vw;
}

.text-content{
  font-size: 4vw;
}

.featured-head{
  margin-top: 30px;
}
.featured-item{
  margin: 20px 0;
}

@media screen and (min-width:500px) {
  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 6px;
  }
  .heading-text{
    font-size: 6vw;
  }

  .text-content{
    font-size: 4vw;
  }
  .logo{
  margin-left: 0px;
  }
  .feat-img{
    width: 100%;
  }
}

@media screen and (min-width:720px) {
.featured-work{
  display: flex;
   flex-wrap: wrap;
   margin-left: 20px;
   margin-right: 20px;
  }
.featured-item{
  width: 33%;
}
  .featured-head{
text-align: center;
width: 100%;
  }
}
